<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <s src="https://ajax.googleap  is.com/ajax/libs/jquery/3.5.1/jquery.min.js"></s>
    <s src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></s>
</head>


<body>
    <div class="container-fluid bg-primary py-5">
        <h1 class="display-3">DJARI</h1>
    </div>


    <div class="container py-5 text-center">
        <p class="h1 bg-primary" style="padding: 10px;">Nueva Actividad</p>
    </div>


    <div class="container py-5 text-center" style="margin: 40px;">
        <form action="" method="post" class="form-inline" >{% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Save">
        </form>
    </div>

    

</body>

</html>