<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ambiente</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <s src="https://ajax.googleap  is.com/ajax/libs/jquery/3.5.1/jquery.min.js"></s>
    <s src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></s>
</head>

<body>
    <div class="container-fluid bg-primary py-5">
        <h1 class="display-3">DJARI</h1>
    </div>

    
    <div class="container py-5 text-center">
        <p class="h1 bg-primary" style="padding: 10px; margin-bottom: 30px;">Lista Ambiente</p>
    </div>



    <div class="container py-5">
        

            {% for ambiente in object_list %}
            <a>{{ambiente.id}}: {{ambiente.descripcion}}  </a>
            <a href="{% url 'updateAmbiente' ambiente.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Modificar  </a>
            <a href="{% url 'eliminarAmbiente' ambiente.id %}" class="glyphicon glyphicon-trash" role="button" aria-pressed="true"></a>
            {% endfor %}

            <a href="{% url 'crearAmbiente' %}" class="list-group-item list-group-item-info active">
                Crea ambiente
            </a>   

        
    </div>


    <!-- <h2 class="lead"><a href="{% url 'crearEvento' %}"> Crear evento</a></h2> -->

</body>
</html>