<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container-fluid bg-primary py-5">
        <h1 class="display-3">DJARI</h1>
    </div>
    <a href="{% url 'eventoDetail' evento.id  %}"class="list-group-item list-group-item-info active">
        Subeventos
    </a>
    <div class="container py-5 text-center">

        <p class="h1 bg-primary" style="padding:10px;">{{evento.nombre}}</p>
    </div>
    
    <div class="container py-5 text-center">
                <p class="h1 bg-primary" style="padding: 10px;">Lista de Comites</p>
    </div>

    
    <div class="container py-5" style="margin-top: 30px;">
        <div class="list-group text-center">
            {% if object_list %}

            {% for comite in object_list %}
            
            <li><a href="{% url 'comiteDetail' comite.id %}">{{comite.nombre}}</a>
            <a href="{% url 'updateComite' comite.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Modificar  </a> 
            <a href="{% url 'eliminarComite' comite.id %}" class="glyphicon glyphicon-trash" role="button" aria-pressed="true"></a> </li>
                
            {% endfor %}
            {% else %}
                <p>No existen Comites</p>
            {% endif %}
            <a href="{% url 'crearComite' evento.id %}" class="btn btn-lg btn-primary" role="but"> Crear Comite</a>    
        </div>
    </div>
</body>
</html>