<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container-fluid bg-primary py-5">
        <h1 class="display-3">DJARI</h1>
    </div>
    <a class="list-group-item list-group-item-action"
                href="{% url 'promocion' evento.id    %}">Promociones</a>
    <a class="list-group-item list-group-item-action"
                href="{% url 'comite' evento.id    %}">Comite</a>
    <div class="container py-5 text-center">

        <p class="h1 bg-primary" style="padding:10px;">{{evento.nombre}}</p>
        <ul class="list-group text-white">
            <li class="list-group-item"><p>{{evento.detalle}}</p></li>
            <li class="list-group-item"><p>{{evento.fechaInicio}}</p></li>
            <li class="list-group-item"><p>{{evento.fechaClausura}}</p></li>
            <li class="list-group-item"><p>{{evento.ubicacion}}</p></li>
        </ul>        
    </div>
    
    <div class="container py-5 text-center">
                <p class="h1 bg-primary" style="padding: 10px;">Lista de Sub-eventos</p>
    </div>

    
    <div class="container py-5" style="margin-top: 30px;">
        <div class="list-group text-center">
            {% if object_list %}

            {% for subevento in object_list %}
            
            <a class="list-group-item list-group-item-action"
            href="{% url 'subeventoDetail' subevento.id %}">{{subevento.nombre}}</a>
                
            {% endfor %}

            
            {% else %}
                <p>No existen subeventos</p>
            {% endif %}

            <a href="{% url 'crearSubevento' evento.id %}" class="btn btn-lg btn-primary" role="but"> Crear Subevento</a>
            
        </div>
    </div>
</body>

</html>