<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <s src="https://ajax.googleap  is.com/ajax/libs/jquery/3.5.1/jquery.min.js"></s>
    <s src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></s>
</head>

<body>
    <div class="container-fluid bg-primary py-5">
        <h1 class="display-3">DJARI</h1>
    </div>

    
    <div class="container py-5 text-center">
        <p class="h1 bg-primary" style="padding: 10px; margin-bottom: 30px;">Lista Material</p>
    </div>



    <div class="container py-5">
        <div class="list-group text-center">

            {% for material in object_list %}
            <a>{{material.nombre}}</a>
            {% endfor %}

            <a href="{% url 'crearMaterial' %}" class="list-group-item list-group-item-info active">
                Crea Material
            </a>

        </div>
    </div>


    <!-- <h2 class="lead"><a href="{% url 'crearEvento' %}"> Crear evento</a></h2> -->

</body>
</html>