<script src="{%static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{%static 'vendor/animsition/js/animsition.min.js' %}"></script>
<script src="{%static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{%static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{%static 'vendor/select2/select2.min.js' %}"></script>
<script src="{%static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{%static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<script src="{%static 'vendor/countdowntime/countdowntime.js' %}"></script>
<script src="{%static 'js/main.js' %}"></script>

<script src="{%static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{%static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{%static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{%static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{%static 'plugins/easing/easing.js' %}"></script>
<script src="{%static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{%static 'js/events.js' %}"></script>